{% extends 'base.html.twig.' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comments index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author ID</th>
            <th>Quack ID</th>
            <th>Content</th>
            <th>Created at</th>
            <th>is deleted</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.author.duckname }}</td>
                <td>{{ comment.quack.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt|date }}</td>
                <td>
                    {% if comment.isDeleted == false %}
                        En ligne
                        {% else %}
                        hors-ligne
                    {% endif %}
                    {{ form_start(form[loop.index0], {'action': path('comment_hide',  {'id': comment.id}), 'method': 'POST'}) }}
                    {{ form_widget(form[loop.index0]) }}
                    {% if comment.isDeleted == false %}
                        <button class="btn btn-danger" id="hideComment">Cacher</button>
                    {% else %}
                        <button class="btn btn-success" id="hideComment">Montrer</button>
                    {% endif %}
                    {{ form_end(form[loop.index0]) }}
                </td>
                <td>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ducks_new') }}">Create new</a>
{% endblock %}
