{% extends 'base.html.twig' %}
{% block stylesheets %}


{% endblock %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <h1>Quack index</h1>
    <a href="{{ path('quack_new') }}">Create new</a>

    <table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Content</th>
        <th>Created_at</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for quack in quacks %}
        <tr>
            <td>{{ quack.id }}</td>
            <td>{{ quack.content }}</td>
            <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                {% for quack in quacks %}
                    <a href="{{ path('quack_show', {'id': quack.id}) }}">show</a>
                    {% if is_granted('edit', quack) %}
                        <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        </tbody>
        </table>

    {% endfor %}







{% endblock %}
